.three-dot-label {
    position: relative;
    background-color: blue;
    left: -20px;
    top: 0;    
    border-radius: 50%;
    font-size: 0;
    padding: 3px;
}

.three-dot-label:before {
    position: absolute;
    left: 10px;
    top:0px;
    content: '';
    background-color: green;
    border-radius: 50%;
    font-size: 0;  
    padding: 3px;
}

.three-dot-label:after {
    position: absolute;
    left: 20px;
    top: 0;
    content: '';
    background-color: grey;
    border-radius: 50%;
    font-size: 0;  
    padding: 3px;
}
.htree-dot-icon {
    /* width: 6px; */
    display: flex;
    height: auto;
    align-items: center;
    cursor: pointer;
    gap: .5rem;
}
.hidden {
    display: none;
}
.toggle:checked ~ .toggle__menu {
    display: block;
}
.table-header {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 2rem 0;
}
.form-input {
    display: grid;
    grid-template-columns: 12% 50%;
}

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin .5s linear infinite;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 10%;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }