.container {
  max-width: 900px;
  margin: auto;
  text-align: left;
}
.table--header-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
} 
.table--row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.table--header {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}
.table--row__head,
.table--row__data {
  display: flex;
  flex: 1;
  padding: 16px;
}
.table--row__data {
  background-color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .table--row__data {
      padding-left: 5px;
  }
}
.table--row:nth-child(odd) td {
    background-color: #E0E0E0;
}
.w-full {
    width: 100%;
}
.table--row__head:last-child, 
.table--row__data:last-child {
    flex-direction: row-reverse;
}
.App-header {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.primary-btn {
  background-color: blue;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  border: none;
}
.danger-btn {
  background-color: red;
  padding: 0.5rem;
  color: white;
  border: none;
  cursor: pointer;
}
.secondary-btn {
  background-color: green;
  padding: 0.5rem;
  color: white;
  border: none;
  cursor: pointer;
}
.justify-self-end {
  justify-self: end;
}